
.content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	margin-left: 260px;
	padding: 40px 70px 50px 80px;
	
	h1 {
		color: #0F4264;
		font-size: 80px;
		font-weight: bold;
		font-family: "Quicksand";
		margin-bottom: 75px;
	}
	
	h2 {
		color: #303030;
		font-size: 20px;
		font-weight: bold;
		font-family: "Quicksand";
	}
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
	display: block;
    margin-bottom: 15px;
    padding: 8px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submitButton {
	color: white;
	background-color: blue;
	width: 150px;
	height: 55px;
	border: none;
	border-radius: 10;
}

.acoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.acao {
	border: none;
	background-color: white;
	margin-left: 15px;
	padding: 0;
}

